<!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="UTF-8">
  <title>Travel Planner</title>
  <meta content="width=device-width, initial-scale =1, maximun-scale=1" name="viewport"/>
  </head>

  <header class="nav"><h1>Travel Planner</h1>
    <ul>
      <li><a href="https://www.linkedin.com/">LinkedIn</a></li>
      <li><a href="https://facebook.com/">Facebook</a></li>
      <li><a href="https://www.twitter.com">Twitter</a></li>
  </ul>
  </header>

  <body>
    <main class="container" id="mainContainer">
      <div class="image">
        <img id="picture" alt= "image from pixabay API">
      </div>
      <div class="content">
        <section class="user_input" id='section'>
          <p class="text"><strong>My Trip to:</strong></p>
          <input type="text" id="city" placeholder="Please enter a City">
    
          <p class="text"><strong>Departure Day:</strong></p>
          <input type="date" id="starDate" placeholder="Please enter your departure date">
    
          <p class="text"><strong>Returning Day:</strong></p>
          <input type="date" id="endDate" placeholder="Please enter your return date">
    
          <p><button class="button" id="saveTrip" type="button" onclick="return Client.performAction(event)">Save my trip</button></p>
          <p><button class="button" id="removeTrip" type="button" onclick="return Client.removeTripHandler(event)">Remove my trip</button></p>
        </section> 
        
        <section class="trip_info" id="section">
          <p><strong>Trip duration (days):</strong><div id="tripLength" style="color: black;"></div></p>
          <p><strong>Countdown:</strong><div id="countdown" style="font-size: 10px;"></div></p>
          <p><strong>Weather-Forecast:</strong><div id="forecast"></div></p>
        </section>
        
      </div>
      <br>


      <footer></footer>
    
    </main>

    <script>
      // check that source workers are supported
      if ('serviceWorkers' in navigator) {
        //use the window load event to keep the page load permanent
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
    
  
  </body>
</html>