/* Anything smaller than the first breakpoint 600px*/
.container {
    display: grid;
    grid-template-areas:
    "feat"
    "main"
    "ft";
}

.image{
    grid-area: feat;
}

.content{
    grid-area: main;
}

.footer{
    grid-area: ft;
}

/* medium screens */
@media (min-width: 600px) and (max-width: 1200px) {
    /* adding style to the main grid */
.container {
    /* Set display to grid */
    display:grid;
    /* setup rows and columns */
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 50px 500px 1fr;
    grid-template-areas:
    "feat feat feat main main main main main"
    "ft ft ft ft ft ft ft ft";
    /*border: 2px solid yellow;*/
    }
}

/* large screens */
@media (min-width: 1201px) {
   /* adding style to the main grid */
    .container {
        /* Set display to grid */
        display:grid;
        /* setup rows and columns */
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 50px 600px 1fr;
        grid-template-areas:
        "feat feat feat feat main main main main main main"
        "ft ft ft ft ft ft ft ft ft ft";
        /*border: 2px solid yellow;*/
    } 
}