body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: grayscale($color: #e7e3e3);
    color: black;
    font-weight: 100;
    //font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
input{
    display:block;
    height: 40px;
    width: 200px;
    background:#0c1a1b;
    color: #f0d43a;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #e2d588; 
    font-family: 'Oswald', sans-serif;

} 

:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #e2d588; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #e2d588; 
    font-family: 'Oswald', sans-serif;

} 

button{
    width: 200px;
    height: 50px;
    background: #575858;
    color: #f3e7a2;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.user_input {
    background-color: grayscale($color: #ebebeb);
}

.trip_info {
    background-color:grayscale($color: #e9e3e3);
}